extends ../../layout/default.pug
block main 
    .container
        .row 
            .col-12 
                .box-head   
                    h2.inner-title Danh Sách Sách Sản Phẩm 
        .row 
            each item in product
                .col-4.mb3 
                    .product-item   
                        .inner-img
                            img(src=item.thumbnail, alt="", srcset="")
                        .inner-content 
                            h3.inner-title #{item.title}
                            .inner-price-new #{item.priceNew} $
                            .inner-price-ole #{item.price}
                            .inner-discount #{item.discountPercentage}